@model IEnumerable<App.Models.Manager.RouteViewModel>;
@{
    ViewData["Title"] = "Route Table";
}

<h2>Route Table</h2>
<a asp-controller="Home" asp-action="Index" class="pb-3 link-info">Back to Menu</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <table class="table table-striped border border-light">
        <thead>
            <tr>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.StopId)
                </th>
                <th class="text-light"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.Order)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.StopId)
                        </td>
                        <td class="text-light">
                            <a asp-action="EditRoute" asp-route-id="@item.Id" class="link-info">Edit</a> |
                            <a asp-action="DeleteRoute" asp-route-id="@item.Id" class="link-info">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button asp-action="CreateRoute" class="btn btn-primary btn-lg w-25 text-light">
        Create Route
    </button>
</div>
