@model IEnumerable<App.Models.DriverViewModel>;
@{
    ViewData["Title"] = "Driver Table";
}

<h2>Driver Table</h2>
<a asp-action="Index">Back to Menu</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Edit Page
            </th>
            <th>
                Delete Button
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td>
                        <a asp-action="EditDriver" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteDriver" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="CreateDriver">Create Driver</a>
