@model App.Models.Manager.CreateEntryModel;
@{
    ViewData["Title"] = "Create Entry";
}

<a asp-action="Index" class="link-info">Back to Table</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <form asp-action="CreateEntry" method="POST">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>
        <div class="form-group py-2 my-2">
            <label asp-for="Timestamp" class="control-label fs-3 text-light"></label>
            <input asp-for="Timestamp" class="form-control text-light bg-dark" />
            <span asp-validation-for="Timestamp" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="Boarded" class="control-label fs-3 text-light"></label>
            <input asp-for="Boarded" class="form-control text-light bg-dark" />
            <span asp-validation-for="Boarded" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="LeftBehind" class="control-label fs-3 text-light"></label>
            <input asp-for="LeftBehind" class="form-control text-light bg-dark" />
            <span asp-validation-for="LeftBehind" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="BusId" class="control-label fs-3 text-light"></label>
            <select asp-for="BusId" class="form-select text-light bg-dark">
                <option selected></option>
                @foreach(var bus in Model.Buses)
                {
                    <option value="@bus.Id" class="text-light bg-dark">
                        @bus.BusNumber
                    </option>
                }
            </select>
            <span asp-validation-for="BusId" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="DriverId" class="control-label fs-3 text-light"></label>
            <select asp-for="DriverId" class="form-select text-light bg-dark">
                <option selected></option>
                @foreach(var driver in Model.Drivers)
                {
                    <option value="@driver.Id" class="text-light bg-dark">
                        @driver.FirstName @driver.LastName
                    </option>
                }
            </select>
            <span asp-validation-for="DriverId" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="LoopId" class="control-label fs-3 text-light"></label>
            <select asp-for="LoopId" class="form-select text-light bg-dark">
                <option selected></option>
                @foreach(var loop in Model.Loops)
                {
                    <option value="@loop.Id" class="text-light bg-dark">
                        @loop.Name
                    </option>
                }
            </select>
            <span asp-validation-for="LoopId" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <label asp-for="StopId" class="control-label fs-3 text-light"></label>
            <select asp-for="StopId" class="form-select text-light bg-dark">
                <option selected></option>
                @foreach(var stop in Model.Stops)
                {
                    <option value="@stop.Id" class="text-light bg-dark">
                        @stop.Name
                    </option>
                }
            </select>
            <span asp-validation-for="StopId" class="text-danger form-text"></span>
        </div>
        <div class="form-group py-2 my-2">
            <input type="submit" value="Save" class="btn btn-primary btn-lg w-25 text-light"/>
        </div>
    </form>
</div>
