@model IEnumerable<App.Models.Manager.EntryViewModel>;
@{
    ViewData["Title"] = "Entry Table";
}

<h2>Entry Table</h2>
<a asp-controller="Home" asp-action="Index" class="pb-3 link-info">Back to Menu</a>
<div class="flex flex-col justify-content-center border border-secondary p-5 m-5 text-center">
    <table class="table table-striped border border-light">
        <thead>
            <tr>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.Boarded)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.LeftBehind)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.BusId)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.DriverId)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.LoopId)
                </th>
                <th class="text-light">
                    @Html.DisplayNameFor(model => model.StopId)
                </th>
                <th class="text-light"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.Timestamp)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.Boarded)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.LeftBehind)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.BusId)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.DriverId)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.LoopId)
                        </td>
                        <td class="text-light">
                            @Html.DisplayFor(model => item.StopId)
                        </td>
                        <td class="text-light">
                            <a asp-action="EditEntry" asp-route-id="@item.Id" class="link-info">Edit</a> |
                            <a asp-action="DeleteEntry" asp-route-id="@item.Id" class="link-info">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button asp-action="CreateEntry" class="btn btn-primary btn-lg w-25 text-light">
        Create Entry
    </button>
</div>
