@model IEnumerable<App.Models.Manager.LoopViewModel>;
@{
    ViewData["Title"] = "Loop Table";
}

<h2>Loop Table</h2>
<a asp-controller="Home" asp-action="Index">Back to Menu</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Edit Page
            </th>
            <th>
                Delete Button
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        <a asp-action="EditLoop" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteLoop" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="CreateLoop">Create Loop</a>
